<header class="header-bar">
  <div class="left-header">
    <h4 class="title">title</h4>
  </div>
  <div class="right-header">
    <ul class="contents">
      <li class="content">コンテンツ１</li>
      <li class="content">コンテンツ２</li>
      <li class="content">コンテンツ３</li>
      <li class="content">コンテンツ４</li>
    </ul>
</header>
<div class="main">
  <div class="title-view">
    <h1 class="title-words">~ようこそ。<br>ここは##用品をあつかっているサイトです。<br>長居はしないでね。〜
  </div>
  <div class="first-content">
    <p class="content-title">タイトル</p>
    <div class="contents-menu">
      <ul class="containers">
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像1</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像2</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像3</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像4</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像5</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像6</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="second-content">
    <p class="content-title">タイトル２</p>
    <div class="contents-menu">
      <ul class="containers">
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像1</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像2</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像3</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像4</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像5</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像6</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="third-content">
    <p class="content-title">タイトル3</p>
    <div class="contents-menu">
      <ul class="containers">
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像1</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像2</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像3</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像4</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像5</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像6</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="forth-content">
    <p class="content-title">タイトル4</p>
    <div class="contents-menu">
      <ul class="containers">
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像1</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像2</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像3</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像4</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像5</p>
        </li>
        <li class="container">
          <a href="#"><img src="https://i.gyazo.com/8a2b3f9e731fd887f05dc78f2c049ecd.png" class="img"></a>
          <p class="name">画像6</p>
        </li>
      </ul>
    </div>
  </div>      
    </div>
  </div>
</div>
<footer>
  <p> ~web-view3~ </p>
</footer>